# --- Archivos sensibles ---
.env
*.key
*.pem
fiapp-17341-firebase-adminsdk-fbsvc-a811628f3e.json

# --- Archivos de entorno virtual ---
venv/
.env/
env/
__pycache__/

# --- Archivos de compilación ---
*.pyc
*.pyo
*.pyd
*.log

# --- Archivos del sistema ---
.DS_Store
Thumbs.db

# --- Configuración de VSCode ---
.vscode/
